/* Global styles - Remove default margins and set black background */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow-x: hidden;
}
